.iki-api-test-wrap {
  max-width: 500px; }
  .iki-api-test-wrap .spinner,
  .iki-api-test-wrap .button {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle; }
  .iki-api-test-wrap .spinner {
    float: none; }
  .iki-api-test-wrap .notice {
    padding: 15px; }
  .iki-api-test-wrap .updated {
    border-left-color: #46b450; }
  .iki-api-test-wrap .error {
    border-left-color: #dc3232; }
