.iki-sc-adn {
  background-color: #504e54; }

.iki-sc-apple {
  background-color: #aeb5c5; }

.iki-sc-android {
  background-color: #A5C63B; }

.iki-sc-bitbucket {
  background-color: #003366; }

.iki-sc-dribbble {
  background-color: #F46899; }

.iki-sc-dropbox {
  background-color: #018BD3; }

.iki-sc-500px {
  background-color: #222; }

.iki-sc-facebook {
  background-color: #3C599F; }

.iki-sc-flickr {
  background-color: #0063dc; }

.iki-sc-foursquare {
  background-color: #0086BE; }

.iki-sc-reddit {
  background-color: #cee3f8; }

.iki-sc-github {
  background-color: #070709; }

.iki-sc-google {
  background-color: #CF3D2E; }

.iki-sc-instagram {
  background-color: #3f729b; }

.iki-sc-linkedin {
  background-color: #0085AE; }

.iki-sc-pinterest {
  background-color: #CC2127; }

.iki-sc-skype {
  background-color: #01AEF2; }

.iki-sc-tumblr {
  background-color: #314E6C; }

.iki-sc-twitter {
  background-color: #32CCFE; }

.iki-sc-vk {
  background-color: #375474; }

.iki-sc-weibo {
  background-color: #D72B2B; }

.iki-sc-youtube {
  background-color: #C52F30; }

.iki-sc-myspace {
  background-color: #000000; }

.iki-sc-buffer {
  background-color: #59626a; }

.iki-sc-lastFM {
  background-color: #d51007; }

.iki-sc-digg {
  background-color: #0093CC; }

.post-social-share {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin: 15px 0;
  font-size: 0; }
  .post-social-share.iki-spread-social .iki-share-btn-wrap {
    margin-right: 0;
    margin-top: 0;
    border-radius: 0;
    text-align: center;
    min-width: 45px; }
    .post-social-share.iki-spread-social .iki-share-btn-wrap .iki-sc-back {
      border-radius: 0; }
  .post-social-share.iki-round .iki-sc-back,
  .post-social-share.iki-round .iki-share-btn-wrap {
    border-radius: 50%; }
  .post-social-share.iki-round .iki-share-btn [class^="iki-icon-"]:before {
    margin-left: 0;
    margin-right: 0; }
  .post-social-share.sc-custom-symbol .iki-share-btn-wrap:hover {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    position: relative;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .post-social-share.sc-custom-symbol .iki-share-btn {
    border: 1px solid transparent; }
  .post-social-share.sc-custom-symbol.iki-round .iki-share-btn {
    border-radius: 50%; }
  .post-social-share.sc-dark .iki-share-btn-wrap {
    background-color: rgba(0, 0, 0, 0.3); }
  .post-social-share.sc-light .iki-share-btn-wrap {
    background-color: rgba(190, 190, 190, 0.5); }
  .post-social-share .iki-share-btn-wrap {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    display: inline-block;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0;
    border-radius: 4px;
    line-height: 1;
    font-size: 1.5rem; }
    .post-social-share .iki-share-btn-wrap:hover .iki-sc-back {
      opacity: 1;
      -webkit-transition: background-color 0.3 ease-out;
      transition: background-color 0.3 ease-out; }
    .post-social-share .iki-share-btn-wrap .iki-share-btn {
      position: relative;
      display: block;
      z-index: 2;
      padding: 10px;
      color: #ffffff;
      width: 100%;
      height: 100%;
      line-height: 1;
      text-decoration: none; }
      .post-social-share .iki-share-btn-wrap .iki-share-btn:hover {
        color: white; }

.iki-sc-back {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .iki-sc-back.sc-light, .iki-sc-back.sc-dark {
    opacity: 0; }
  .iki-sc-back.sc-classic-minimal, .iki-sc-back.sc-classic-minimal-dark {
    opacity: 0; }
    .iki-sc-back.sc-classic-minimal:hover, .iki-sc-back.sc-classic-minimal-dark:hover {
      opacity: 1; }
  .iki-sc-back.sc-custom-symbol {
    background-color: transparent; }
